@font-face
{
    font-family: "Roadgeek2005SeriesD";
    src: url("http://panic.com/fonts/Roadgeek 2005 Series D/Roadgeek 2005 Series D.otf");
}

body, * {

}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin: 0;
    padding: 0;
}

/* Settin' up the page */

html, body {
    overflow: hidden; /* */
}

body {
    color: white;
    font-family: 'Roadgeek2005SeriesD', sans-serif;
    font-size: 20px;
    /*line-height: 24px;*/
    height: 250px;
    width: 250px;
}

body, html {
    background: transparent !important;
}

body.contained .container{
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 10%);
    background-color: black;
    background-image: -webkit-linear-gradient(top, hsl(0, 0%, 20%), hsl(0, 0%, 5%) 128px, black 128px, black 100%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(255, 255, 255, 0.6);
    -webkit-overflow-scrolling: touch;
    position: absolute;
}

.contents {
    position: relative;
    float: left;
    /*width: 145px;*/
    height: 144px;
    margin: 10px;
    padding: 14px 10px;
    border: 1px solid hsl(0, 0%, 5%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: hsl(0, 0%, 10%);
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 1.0), inset 0 0 2px rgba(255, 255, 255, 0.5);

}

p {
    text-align: center;
}

#currentsummary {
    font-size: 36px;
}
.currently {
    width: 200px;
    margin: 0 auto;
}

#temperature {
    font-size: 50px;
    position: absolute;
    display: inline-block;
    line-height: 100px;
}

#hoursummary {
}

#poweredby {
    text-align: right
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    width: 100%;
}

#poweredby #time {
    float: right;
}
.movie > span {
    margin-left: 1em;
}
.showtime {
    font-size: 14px;
}

p {
    text-align: center;
    text-transform: capitalize;
}

#nextdeploy {
    font-size: 42px;
    line-height: 84px;
}

#laterdeploy {
    font-size: 36px;
}

.soon {
    color: red;
}
