<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.project.name }} - {{ site.project.tagline }}</title>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1 id="slogan">{{ site.project.name }}</h1>
				<span id="tagline">{{ site.project.tagline }}</span>
			</div>
			<div id="content">
				<a name="top"></a>
				{{ page.test }}
				{{ content }}
			</div>
		</div>
	</body>
</html>
